<nav class="navbar" style="background-color: #51b2d8;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/22ff14e5-7326-4191-88de-13e4eb490386/deiq91y-61a82b15-e5f3-4f42-a08c-b88403dbe85b.png/v1/fill/w_1466,h_545/gawr_gura___logo_by_peasters_deiq91y-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzE0IiwicGF0aCI6IlwvZlwvMjJmZjE0ZTUtNzMyNi00MTkxLTg4ZGUtMTNlNGViNDkwMzg2XC9kZWlxOTF5LTYxYTgyYjE1LWU1ZjMtNGY0Mi1hMDhjLWI4ODQwM2RiZTg1Yi5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.q505qiVhhj27Wau1cHuskJ3StuEqbMVut5ETaYoGggU" alt="Logo" height="100" class="d-inline-block align-text-top">
        
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>